.footer{
    width:100%;
    font-family: 'Press Start 2P', cursive;
    background-color:white;
    }
    
    .nes-container {
    border:none !important;
    width:100%;
    }
    
    @media (max-width: 800px) {
    
    }
    